<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Mesh Data Systems Kft. - Robot Kontroller és Monitorozó alkalmazás</title>
	<script src="js/require.js"></script>
	<script>
		//Működik de végleges megoldás szerver oldali templétezés! ejs
		//channel = location.search.substring(1).split("=")[1];
		//location.search = "";<--ez el is navigálja /-re, hát van ilyen? kliens oldali redirect király!!  :)
	    require({
	        baseUrl: 'js',
	        paths: {
            	jquery: 'libs/jquery',
				socketio: '../socket.io/socket.io',
        	},
        	priority: ['jquery', 'socketio']
	    }, ['app']);
    </script>
	<script type="text/javascript" charset="utf-8">
		
		var coords = new Array();
		var coordsHistory = 10;
		var arrowPhi = 0;
		var agv_map = false;
		var agv_map_ctx = false;
		var agv_map_scale = 1;

		function initMap(){
			agv_map = document.getElementById("agv_map");
			if (agv_map.getContext) {
				agv_map_ctx = agv_map.getContext('2d');
				agv_map_ctx.strokeStyle="#000";
				
				agv_map_ctx.fillStyle = '#000';

				agv_map_ctx.translate(agv_map.width/2, agv_map.height/2);
				agv_map_ctx.scale(agv_map_scale,-agv_map_scale);
				//800x500-ból 3200x2000
				//agv_map_scale *= 0.25;
				//agv_map_ctx.scale(agv_map_scale, agv_map_scale);
			}
		}

		/*var intervalId = setInterval(function() {
			processCoordinates(Math.floor(Math.random()*1600)-800, Math.floor(Math.random()*1200)-600, Math.floor(Math.random()*360));
		}, 100);
		
		setTimeout(function(){
			//alert("vege");
			console.log($("#agv_map"));
			clearInterval(intervalId);
		}, 10000)*/

		function processCoordinates (numX, numY, phi) {
			arrowPhi = phi;
			var lastCoordPos = coords.length - 1;

			if (lastCoordPos == -1) {
				coords.push({x:numX,y:numY});

				setScale(numX, numY, phi);
			} else {
				if (coords[lastCoordPos]['x'] != numX || coords[lastCoordPos]['y'] != numY) {
					coords.push({x:numX,y:numY});

					setScale(numX, numY, phi);
					if (coords.length > coordsHistory) {
						coords.shift();
					}
				}
			}
			//console.log(phi);
		}
	
		function setScale(numX, numY){
			var scale = 1;
			if (Math.abs(numX) > agv_map.width*agv_map_scale/2){
				scale = (Math.abs(numX)*2)/agv_map.width*agv_map_scale;
			}
			if (Math.abs(numY) > agv_map.height*agv_map_scale/2){
				scale = Math.max(scale,(Math.abs(numY)*2)/agv_map.height*agv_map_scale);
			}
			
			if (agv_map_scale < scale) {
				agv_map_scale = Math.ceil(scale);
				agv_map_ctx.scale(1/agv_map_scale, 1/agv_map_scale);
			}
			//clearRect
			agv_map_ctx.clearRect(-agv_map.width*agv_map_scale/2, agv_map.height*agv_map_scale/2, 
										agv_map.width*agv_map_scale, -agv_map.height*agv_map_scale);

			reDrawPath();
			drawArrow();
			//console.log("scale: " + agv_map_scale);
			
		}

		function reDrawPath(){
			agv_map_ctx.beginPath();
			for (coordIndex in coords) {
				if (coordIndex == 0){
					var i = 1;
					var j = 0;
					agv_map_ctx.moveTo(coords[coordIndex].x,coords[coordIndex].y);
				} else {
					agv_map_ctx.save();
					agv_map_ctx.beginPath();
					agv_map_ctx.moveTo(coords[coordIndex-1].x,coords[coordIndex-1].y);
					agv_map_ctx.lineTo(coords[coordIndex].x,coords[coordIndex].y);
					agv_map_ctx.globalAlpha = coordIndex/10;
					agv_map_ctx.stroke();
					agv_map_ctx.restore();


					agv_map_ctx.save();
					agv_map_ctx.beginPath();

					agv_map_ctx.globalAlpha = coordIndex/10;

					agv_map_ctx.translate(coords[coordIndex].x+10,coords[coordIndex].y-5);
					agv_map_ctx.rotate(Math.PI*2/(6));
					agv_map_ctx.arc(0,12.5,5,0,Math.PI*2,true);
					agv_map_ctx.fill();
					agv_map_ctx.restore();
				}
			}			
			agv_map_ctx.stroke();
		}
		
		function drawArrow(){
			var arrowHalfSide = 7*agv_map_scale;
			var arrowHeight = 15*agv_map_scale;
			agv_map_ctx.save();
			agv_map_ctx.translate(coords[coords.length-1].x,coords[coords.length-1].y);
			agv_map_ctx.rotate(-arrowPhi*Math.PI/180);
			agv_map_ctx.beginPath();
			agv_map_ctx.moveTo(0,0);
			agv_map_ctx.lineTo(arrowHalfSide,-arrowHeight);
			agv_map_ctx.moveTo(0,0);
			agv_map_ctx.lineTo(-arrowHalfSide,-arrowHeight);
			agv_map_ctx.lineTo(arrowHalfSide,-arrowHeight);
			agv_map_ctx.fill();

			//agv_map_ctx.stroke();
			agv_map_ctx.restore();
		}
/*
		function drawPathChunk(){
			agv_map_ctx.beginPath();
			if (coordsDrawed == 0) {
				agv_map_ctx.moveTo(coords[coordsDrawed].x,coords[coordsDrawed].y);
			} else {
				agv_map_ctx.moveTo(coords[coordsDrawed-1].x,coords[coordsDrawed-1].y);
			}
			agv_map_ctx.lineTo(coords[coordsDrawed].x,coords[coordsDrawed].y);
			agv_map_ctx.stroke();
			coordsDrawed++;
		}*/
	</script>
  </head>
  <body>
    <canvas id="agv_map" width="800px" height="600px" style="height:600px; width:800px; border: 1px dashed brown;"></canvas>

  </body>
</html>
