extends layout

block content
		h1 #{status}
		.error #{errorMsg}
		
		//- az errorStack többsoros Stringet tartalmaz ezért pre, production-be nincs errorStack kiírás
		if (errorStack) 
			pre #{errorStack}
		hr