extends layout

block content
	div#login_form.row
		div.four.columns.centered
			form#loginform(method="post", action="login")
				input(type="text", name="username", placeholder="Username")
				input(type="password", name="password", placeholder="Password")
				input.small.radius.button(type="submit", value="i18n.login.form.submit.value")
			if (message.type)
				<div class="#{message.type}"><small>#{message.text}</small></div>