!!! transitional
html
	head
		meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
		title Mesh Data Systems Kft. - Login
	body
		form#loginform(method="post", action="login")
			input(type="text", name="username")
			input(type="password", name="password")
			input(type="submit", value="Login")