!!! 5
html(lang="hu")
	head
		title Hűtőház megfigyelő és riasztó rendszer
		meta(charset="utf-8")
		meta(name="description", content="Refrigeratory monitoring and alarming system")
		meta(name="author", content="Zsolt Grigore")
		
		link(rel="stylesheet", type="text/css", href="/css/refrigeratory.css?v=1.0")
	body
		h1 Mesh Data Systems
		
		div.tabs-wrap
			ul#navigation
				li.one a(href="/refrigeratory/status") Status
				li.two a(href="/refrigeratory/status/view-logs") View logs
				li.three(selected=true) a(href="#")Speakers
				li.four a(href="#")Sponsors
				li.shadow

			div#content
				h2 The tabs in this demo are image-less tabs<br />with 4 different CSS3 enhancements:

				ol
					li Rounded Corners (border-radius)
					li Box Shadow (bottom of inactive tabs)
					li Transitions (the glow on hover)
					li Gradients (the active tab)

				h2 CSS Transitions work in Chrome, Safari 3.1+, Opera 10.5+, Firefox 4+, and IE10+
				h2 The basic idea and techniques presented here are taken from the tabs on the 2010 jQuery Conference site.
		
		script(language="javascript", type="text/javascript", data-main="/js/app.js", src="/js/libs/require.js")