!!! 5
html(lang="hu")
	head
		title Hűtőház megfigyelő és riasztó rendszer
		meta(charset="utf-8")
		meta(name="description", content="Refrigeratory monitoring and alarming system")
		meta(name="author", content="Zsolt Grigore")
		
		link(rel="stylesheet", type="text/css", href="/css/refrigeratory.css?v=1.0")
	body
		h1 Mesh Data Systems
		
		form(id="logout_form", method = "post", action = "/logout")
			input(type = "submit", value = "Logout")
		
		div.tabs-wrap
			ul#navigation
				li.one
					a(href="/refrigeratory/status") Status
				li.two
					a(href="/refrigeratory/status/view-logs") View logs
				li.three(selected=true)
					a(href="/refrigeratory/config") Configuration

			div#content
		
		script(language="javascript", type="text/javascript", data-main="/js/app.js", src="/js/libs/require.js")