!!! transitional
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		title AGV controller

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
		meta(name="description", content="")
		meta(name="author", content="Grigore András Zsolt, Jacsek Gergely")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")

		link(rel="stylesheet", type="text/css", href="css/avg_controller.css")

		script(language="javascript", type="text/javascript", src="js/libs/require.js")
		script(language="javascript", type="text/javascript", src="js/libs/jquery.js")
		script(language="javascript", type="text/javascript", src="/socket.io/socket.io.js")
		script
			require({
				baseUrl: 'js',
				paths: {
					jquery: 'libs/jquery',
					socketio: '../socket.io/socket.io',
				},
				priority: ['jquery', 'socketio']
			}, ['app']);
	body
		.title AGV Online Control
		
		.tester_area
			.clear
			textarea#log(readonly="readonly")
			.spacer
			label.buttonLabel(for="interval") Interval Delay (ms):
			input#interval.firstInput(type="text", name="interval", value="1000")
			br
			label(for="timeout", class="buttonLabel") Clear Interval After (ms):
			input#timeout(type="text", name="timeout", value="60000"
			br
			input#startInterval(type="button", name="startInterval", value="Start get_xy_req interval", onclick="startInterval();")
			br
			input#stopInterval(type="button", name="stopInterval", value="Stop get_xy_req interval", onclick="stopInterval();")
			br
			input#sendGetXYReq(type="button", name="sendGetXYReq", value="Send One get_xy_req", onclick="sendGetXYReq();")
			br
			input#clearLog(type="button", name="clearLog", value="Clear Log", onclick="$('#log').text('')")
			br
			label(for="custom_msg") Custom JSON Message
			textarea#custom_msg(name="custom_msg", rows="18", cols="50")
			br
			input#sendCustomReq(type="button", name="sendCustomReq", value="Send Custom REQ", onclick="sendCustomReq();")